@import "./common.css";
@import "./keyframe.css";

:root {
  --black: #222222;
  --deep-gray: #444444;
  --gray: #666666;
  --light-gray: #999999;
  --white: #ffffff;
  --deep-blue: #003f65;
  --blue: #0064a2;
  --light-blue: #0587d7;
}
.con {
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 8rem;
}
